@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
}

h1{
  text-align: center;
}

.titre1{
  text-align: right;
}

.div-footer{
  background-color: orange!important;
}

.div_logo{

  text-align: center;
  display: block;
  justify-content: center;
  margin: 0;
  width: 20%;
}
.div_information{
  
  text-align: center;
  display: block;
  justify-content: center;
  margin: right;
  width: 20%;
}

.container {
  text-align: center;
  
  
}

.row {
  margin-block: 15px;
  position: center;
}