@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.div-header {
  text-align: center;
}

.div-titre-page {
  text-align: center;
  background-image: url(image_genesis.png);
  background-size :100%;
  background-repeat: no-repeat;
 
  
}

.titre_page {
  color: white!important;
  
}

.div-nav{
  align-content: center;
  background-color: lightgreen;
}

.link-nav {
  color: black;
}

.div-content{
  background-color: blueviolet;
}

.div-footer{
  background-color: orange!important;
}

.div-logo{

  text-align: center;
  display: block;
  
  margin: 0;
  
}
.div-information{
  
  text-align: center;
  display: block;
  
}

.container {
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  justify-content: center;
  
  
}

.row {
  
  position: center;
}