body{
    background-color: rgb(187, 177, 177)!important;
}

header{
    margin: 0;
    height: 1;

    padding: 0;
    background-image: url(téléchargement2.jpg);
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


nav{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color:white;
    background-color: red;
}

.button:hover{
    background-color: rgb(238, 49, 49);
}

.form:visited{
    color: red;
}

content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

video{
    width: 70% !important;
    height: 50% !important;
    margin: 0 auto;
    display: block;
}

footer{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color:white;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color:white;
}

table{
    margin-left:200px;
    margin-right:200px;
    padding: 10px;
    border-spacing: 10px;
    font-size: 130%;
}

.t1{
    padding-top: 50px;
    text-align: center;
    color: red;
    
}

.t2{
    text-align: left;
}


.image_facebook{

    width: 200px;
    height: 75px;
}

.image_insta{

    width: 75px;
    height: 75px;
}

.image_linkedin{
    width: 250px;
    height: 75px;
}

footer{
    background-color: lightblue;
}